{% extends "network/layout.html" %}
{% load static %}
{%block main%}
<input type="hidden" style="display:none" id="is_logged" value="{{is_logged}}">
{%endblock%}

{% block body %}


<!-- creating a new post form -->
<div id="new_post_container">
    <form id="new_post_form">
         <div class="container mt-5">
             <div class="row">
                    &nbsp;&nbsp;&nbsp;&nbsp;<h2>New Post</h2>
                          <div class="col-md-12 d-flex justify-content-center">
                              <textarea id="post_content"  class="form-control textarea" placeholder="Type Here..." maxlength="140"></textarea>
                              <i class='bx bx-at'></i> <span class="counter">140</span> 
                         </div>
             </div> 

            {% if user.is_authenticated %}
                    <button class="btn btn-primary" >Post</button>
            {% else %}
                    <a class="btn btn-primary"  id="new_post" href="/login">Log in to Post </a>
            {% endif %}


        </div>
    </form>
        <hr>
</div>
  

<!-- showing all the posts  -->
<div id="all_posts_view" class="relative">


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="edit_post_form">
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Edit:</label>
                  <textarea class="form-control" id="updated_post"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="save_updated_post" data-bs-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
      </div>

</div>

<!-- showing the following posts -->
<div id="following_posts_view" class="relative">

</div>


<!-- load profile page -->
<div id="profile">
    
  <!-- Modal1 -->
  <div class="modal fade" id="Followers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal_followers_content"></div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



 <!-- Modal2 -->
 <div class="modal fade" id="Following" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal_following_content"></div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  



{% endblock %}


{% block script %}

<script src="{% static 'network/network.js' %}"></script>

{% endblock %}











