body{
    background-color:#eee;
}

.textarea{
    resize:none;
    height:200px;
    transition:all 0.5s;
    border:2px solid #DDDDDD;
    width:100% !important;
}


.textarea:focus{
    box-shadow:none;
    outline:none;
    border:2px solid blue;
}

#post{
    border: solid black 4px;
    padding: 10px;
    margin-top: 5px;
}


#profile-page{
    color: blue;
    cursor: grab;
}

a{
    color:blue;
    cursor: grab;
}

.user_profile {
    
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
}
#user_name {
    text-align: center;
}





body {
    background-color: #000000
}

.padding {
    padding: 3rem !important;
    margin-left: 200px
}

.card-img-top{
    height:300px;
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.pro-img {
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

html body .m-b-0 {
    margin-bottom: 0px
}

h3 {
    line-height: 30px;
    font-size: 21px
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

html body .m-t-10 {
    margin-top: 10px
}

.btn-primary,
.btn-primary.disabled {
    background: #7460ee;
    border: 1px solid #7460ee;
    -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.m-t-20 {
    margin-top: 20px
}

.text-center {
    text-align: center !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #455a64;
    font-family: "Poppins", sans-serif;
    font-weight: 400
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}



/* https://css-tricks.com/4-ways-to-animate-the-color-of-a-text-link-on-hover/ */
.capitalize {
    text-transform: capitalize;
    font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;

}
.capitalize:hover{
  
    cursor: pointer;

    background-position: 0 100%;
  }
.post{
    padding: 10px;

}


 #next{
    
    position: absolute;
    bottom: 0px;
    padding: 10px;
    margin-left: 50%;
    text-align: center;
 }

.relative{
    position: relative;
}

i {
    position: absolute;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none
}


.counter {
    position: absolute;
    right: 3px;
    width: 55px;
    font-size: 20px;
    color: blue;
    text-align: center;
    border-left: 1px solid #d8d8d8;
    pointer-events: none
}

